{% load render_bundle from webpack_loader %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 scale=1.0, user-scalable=no" />
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}" />
    <title>CRH</title>
</head>

<body>
    {% block body %} {% endblock %}
    <script>
    window.django = {
        csrf: "{{ csrf_token }}",
        user: {
            username: "{{ request.user.username }}",
            last_login: "{{ request.user.last_login }}",
        }
     };
    </script>
    {% block scripts %} {% endblock %}
    {% render_bundle 'main' %}
</body>
</html>
